{% extends 'core/base.html' %}

{% block content %}

<div class="container">

    <h1>Editar Cliente</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="rut">Rut:</label>
            {{ form.rut }}
            {{ form.rut.errors }}
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            {{ form.apellido }}
            {{ form.apellido.errors }}
        </div>

        <div class="form-group">
            <label for="fecha">Fecha:</label>
            {{ form.fecha }}
            {{ form.fecha.errors }}
        </div>

        <div class="form-group">
            <label for="monto">Monto:</label>
            {{ form.monto }}
            {{ form.monto.errors }}
        </div>


        
        <div class="form-group is-grouped mt-3">
            <button class="btn btn-success">Editar Cliente</button>
        </div>
    </form>
</div>

{% endblock %}
